7948EN_Code/Chapter 4/TravelApproval/TravelApproval12c/SOA/Schemas/EmailType.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
            xmlns:tns="http://packtpub.com/bpel/travel/"
            targetNamespace="http://packtpub.com/bpel/travel/" 
            elementFormDefault="qualified">
  <xsd:element name="email" type="tns:EmailType"/>
    <xsd:complexType name="EmailType">
      <xsd:sequence>
        <xsd:element name="Address" type="xsd:string" /> 
      </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
