7948EN_Code/Chapter 4/EmployeeSDOApp/EmployeeSDO/classes/ae/gov/scad/employeesdo/query/common/EmpVOSDO.xsd

<xsd:schema xmlns:sdoJava="commonj.sdo/java" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/"
     xmlns:sdoXML="commonj.sdo/xml" targetNamespace="/ae/gov/scad/employeesdo/query/common/"
     xmlns="/ae/gov/scad/employeesdo/query/common/" elementFormDefault="qualified" sdoJava:package="ae.gov.scad.employeesdo.query.common">
    <xsd:import schemaLocation="classpath:/META-INF/wsdl/BC4JService.xsd" namespace="http://xmlns.oracle.com/adf/svc/types/"/>
    <xsd:import schemaLocation="classpath:/xml/sdoJava.xsd" namespace="commonj.sdo/java"/>
    <xsd:import schemaLocation="classpath:/xml/sdoXML.xsd" namespace="commonj.sdo/xml"/>
    <xsd:complexType name="EmpVOSDO">
        <xsd:annotation>
            <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
                <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
                    <attribute>Empno</attribute>
                </key>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Empno" type="xsd:int" minOccurs="0" sdoXML:dataType="sdoJava:IntObject"/>
            <xsd:element name="Ename" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="Job" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="Mgr" type="xsd:int" minOccurs="0" nillable="true"/>
            <xsd:element name="Hiredate" type="ns0:dateTime-Timestamp" minOccurs="0" nillable="true"/>
            <xsd:element name="Sal" type="xsd:decimal" minOccurs="0" nillable="true"/>
            <xsd:element name="Comm" type="xsd:decimal" minOccurs="0" nillable="true"/>
            <xsd:element name="Deptno" type="xsd:int" minOccurs="0" nillable="true"/>
            <xsd:element name="DepartmentName" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="TravelClass" type="xsd:string" minOccurs="0" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="empVOSDO" type="EmpVOSDO"/>
</xsd:schema>
